// Fichero .RC con los recursos
TUSERACCOUNTINFO  			BITMAP  "resources\CUserAccountInfo.bmp"
TSTARTUPCOMMANDINFO     	BITMAP  "resources\CStartupCommandInfo.bmp"
TSOUNDDEVICEINFO     		BITMAP  "resources\CSoundDeviceInfo.bmp"
TSHAREINFO     				BITMAP  "resources\CShareInfo.bmp"
TSERVICEINFO     			BITMAP  "resources\CServiceInfo.bmp"
TPROCESSORINFO     			BITMAP  "resources\CProcessorInfo.bmp"
TPROCESSINFO     			BITMAP  "resources\CProcessInfo.bmp"
TPRINTERINFO     			BITMAP  "resources\CPrinterInfo.bmp"
TPRINTJOBINFO     			BITMAP  "resources\CPrintJobInfo.bmp"
TPOINTINGDEVICEINFO     	BITMAP  "resources\CPointingDeviceInfo.bmp"
TPHYSICALMEMORYINFO     	BITMAP  "resources\CPhysicalMemoryInfo.bmp"
TOPERATINGSYSTEMINFO    	BITMAP  "resources\COperatingSystemInfo.bmp"
TNETWORKADAPTERINFO     	BITMAP  "resources\CNetworkAdapterInfo.bmp"
TKEYBOARDINFO     			BITMAP  "resources\CKeyboardInfo.bmp"
TDISPLAYINFO     			BITMAP  "resources\CDisplayInfo.bmp"
TDISKDRIVEINFO     			BITMAP  "resources\CDiskDriveInfo.bmp"
TDESKTOPMONITORINFO     	BITMAP  "resources\CDesktopMonitorInfo.bmp"
TCOMPUTERSYSTEMINFO     	BITMAP  "resources\CComputerSystemInfo.bmp"
TCDROMDRIVEINFO     		BITMAP  "resources\CCDROMDriveInfo.bmp"
TBIOSINFO     				BITMAP  "resources\CBiosInfo.bmp"
TBATTERYINFO      			BITMAP  "resources\CBatteryInfo.bmp"
TUSBCONTROLLERINFO 			BITMAP  "resources\CUSBControllerInfo.bmp"
TDISKPARTITIONINFO        BITMAP  "resources\CDiskPartitionInfo.bmp"
TENVIRONMENTINFO        BITMAP  "resources\CEnvironmentInfo.bmp"